<form #formBox="ngForm">
  <h2 mat-dialog-title class="textaling">בחר כמות</h2>
  <mat-dialog-actions class="textaling">
    <button
      mat-icon-button
      mat-dialog-close
      [mat-dialog-close]="false"
      class="bthClose add-quantity"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-dialog-actions>

  <mat-dialog-content class="textaling">
    <button
      mat-raised-button
      class="add-quantity quarter"
      (click)="selectQuantity(0.25)"
    >
      רבע
    </button>

    <button
      mat-raised-button
      class="add-quantity half"
      (click)="selectQuantity(0.5)"
    >
      חצי
    </button>

    <button
      mat-raised-button
      class="add-quantity whole"
      (click)="selectQuantity(1)"
    >
      שלם
    </button>

    <input
      #quantityBox="ngModel"
      [(ngModel)]="quantity"
      name="quantity"
      type="hidden"
    />
  </mat-dialog-content>


</form>
