.add-quantity {
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 10px;
}

.add-quantity:hover {
  background-color: #0069d9;
  color: #fff;
}

.quarter {
  background-color: #f8f9fa;
  color: #212529;
  border: 1px solid #ced4da;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 10px;
}

.quarter.selected {
  background-color: #007bff;
  color: #fff;
}

.half {
  background-color: #f8f9fa;
  color: #212529;
  border: 1px solid #ced4da;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 10px;
}

.half.selected {
  background-color: #007bff;
  color: #fff;
}

.whole {
  background-color: #f8f9fa;
  color: #212529;
  border: 1px solid #ced4da;
  border-radius: 5px;
  font-size: 16px;
}

.whole.selected {
  background-color: #007bff;
  color: #fff;
}


.bthClose {
    top: -64px !important;
    right: -176px !important;
  }
  
  .mat-dialog-title {
    margin: 0 0 20px;
    display: block;
    display: flex;
    justify-content: center;
    /* margin-top: 14px; */
  }

  
