div {
  height: 10%;
  padding: 3px;
  position: absolute;
  /* left: 27px; */
  /* right: -82%; */
  /* left: 83%; */
  right: 3%;
  top: 10px;
  color: white;
}

.logo {
  height: 63px;
  //   left: זpx;
  position: relative;
  bottom: 7px;
}

.logo2 {
  height: 80px;
  margin-left: 121px;
}

.divImg > * {
  height: 56px;
  position: relative;
  top: 125px;
  z-index: 2;
}
